{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5 text-left">
    <h1 class="header-title">About Project CATS</h1>
    <p class="header-subtitle">
        Project CATS (Contextualisation Automatique de Termes de Spécialité) is brought to you by UCLouvain's CENTAL laboratory and Language Institute (ILV).
    </p>
    <p class="header-subtitle">
        Its principal goal is to provide natural and authentic contexts of use for vocabulary items studied in the context of English for Specific Purposes (ESP) university courses through the application of contemporary NLP methods, such as generation by LLMs.
    </p>
    <p class="header-subtitle">
        The derived contexts are suitable for use in the context of language practice and testing.
    </p>
    <br>
    <h2 class="header-title">Team</h2>
    <ul class="header-subtitle no-bullets">
        <li>Thomas François</li>
        <li>Patrick Watrin</li>
        <li>Serge Bibauw</li>
        <li>Amandine Dumont</li>
        <li>Françoise Stas</li>
        <li>Iglika Nikolova-Stoupak</li>
    </ul>
</div>
{% endblock %}

