{% extends "base.html" %}

{% block title %}Add a Vocabulary List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="page-title">Add a Vocabulary List</h2>
    <div class="row">
        <div class="col-md-8">
            <p class="header-subtitle">
                Please fill in the <em>Course code</em>, <em>CEFR Level</em>, and <em>Domain</em> of your vocabulary list.<br>
                Please upload a file in .csv (or, alternatively, .xlsx) format.<br>
                Your file should include the following fields: <em>Item</em>, <em>POS</em>, <em>Translation</em>, <em>Lesson title</em>, <em>Reading or listening</em>.
            </p>
            <p class="header-subtitle">
                Optionally, if you have already made a selection of certain items that you would like to use in testing, you can add a field <em>Selected</em>, filled in with 'yes' or 'no' values.
            </p>
            <br>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Include CSRF token as a hidden input field -->
                <div class="form-group">
                    <label for="course_code">Course Code:</label>
                    <input type="text" class="form-control form-control-sm" id="course_code" name="course_code" required style="width: 150px;">
                </div>
                <div class="form-group">
                    <label for="cefr_level">CEFR Level:</label>
                    <select class="form-control form-control-sm" id="cefr_level" name="cefr_level" required style="width: 150px;">
                        <option value="" disabled selected>Select Level</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="domain">Domain:</label>
                    <select class="form-control form-control-sm" id="domain" name="domain" required style="width: 150px;">
                        <option value="" disabled selected>Select Domain</option>
                        <option value="Sciences">Sciences</option>
                        <option value="Agronomy">Agronomy</option>
                        <option value="Biology-Chemistry">Biology-Chemistry</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="file">Upload File:</label>
                    <input type="file" class="form-control-file" id="file" name="file" accept=".csv, .xlsx" required>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='voc_list_example.png') }}" alt="Vocabulary List Example" class="img-fluid enlarged-image">
            <p class="header-subtitle text-nowrap">This is what your vocabulary list should look like</p>
        </div>
    </div>
</div>
{% endblock %}

