{% extends 'base.html' %}

{% block content %}
<style>
    textarea, input[type="text"] {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        box-sizing: border-box; /* Include padding in width calculation */
        margin-top: 6px; /* Margin top for spacing */
        margin-bottom: 16px; /* Margin bottom for spacing */
    }
    .edit-container {
        margin-bottom: 20px; /* Spacing between each edit block */
    }
</style>

<h2>Edit Exercises</h2>
<form action="{{ url_for('edit_exercises') }}" method="post">
    {% for exercise in exercises %}
    <div class="edit-container">
        <input type="hidden" name="exercise_ids[]" value="{{ exercise.id }}">
        <label for="word_{{ exercise.id }}">Word:</label>
        <input type="text" name="word_{{ exercise.id }}" value="{{ exercise.word }}"><br>

        <label for="question_{{ exercise.id }}">Question:</label>
        <textarea name="question_{{ exercise.id }}" rows="4">{{ exercise.question }}</textarea><br>

        <label for="answer_{{ exercise.id }}">Answer:</label>
        <input type="text" name="answer_{{ exercise.id }}" value="{{ exercise.answer }}">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}

