{% extends 'base.html' %}

{% block title %}
Vocabulary List
{% endblock %}

{% block content %}
    <h1>Select a Word</h1>
    <form action="{{ url_for('select_word') }}" method="post" class="search-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-row">
            <input type="text" id="wordSearch" name="selected_word" placeholder="Start of word..." onkeyup="filterWords()" style="width: 50%;">
            <select id="wordDropdown" name="selected_word_dropdown" size="5" style="width: 50%; display: block;">
                {% for item in items %}
                <option value="{{ item['stripped_base_form'] }}" 
                        data-pos="{{ item['POS_real'] }}" 
                        data-cours="{{ item['Cours'] }}" 
                        data-lecture="{{ item['Lecture ou audition'] }}" 
                        data-titre="{{ item['Titre'] }}">
                    {{ item['stripped_base_form'] }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <select name="pos" id="posFilter" onchange="filterWords()">
                <option value="">Any Part of Speech</option>
                {% for pos in pos_options %}
                <option value="{{ pos }}">{{ pos }}</option>
                {% endfor %}
            </select>
            <select name="cours" id="coursFilter" onchange="filterWords()">
                <option value="">Any Course Code</option>
                {% for cours in cours_options %}
                <option value="{{ cours }}">{{ cours }}</option>
                {% endfor %}
            </select>
            <select name="lecture_ou_audition" id="lectureFilter" onchange="filterWords()">
                <option value="">Any 'Reading or Listening'</option>
                {% for lecture in lecture_ou_audition_options %}
                <option value="{{ lecture }}">
                    {% if lecture == 'audition' %}
                        Listening
                    {% elif lecture == 'lecture' %}
                        Reading
                    {% else %}
                        {{ lecture }}
                    {% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <select name="titre" id="titreFilter" onchange="filterWords()">
                <option value="">Any Title</option>
                {% for titre in titre_options %}
                <option value="{{ titre }}">{{ titre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Generate sentences</button>
    </form>

    {% if sentences %}
        <p><strong>Generated sentences for the item <span style="color: blue;">{{ selected_word }}</span> (French: <em>{{ Traduction }}</em>), Course {{ cours }}, {% if lecture_ou_audition == 'audition' %}Listening{% elif lecture_ou_audition == 'lecture' %}Reading{% else %}{{ lecture_ou_audition }}{% endif %}, Title '{{ titre }}'</strong></p>
        <p><strong>Please select a sentence:</strong></p>
        <form action="{{ url_for('select_exercise_type') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="base_form" value="{{ selected_word }}">
            <input type="hidden" name="Traduction" value="{{ Traduction|lower_first }}">
            {% for sentence in sentences %}
                <div>
                    <input type="radio" name="sentence" value="{{ sentence }}" id="{{ sentence }}">
                    <label for="{{ sentence }}">{{ sentence }}</label>
                </div>
            {% endfor %}
            <button type="submit" name="action" value="generate_gapfill">Generate Gap-fill</button>
            <button type="submit" name="action" value="generate_mcq">Generate MCQ</button>
        </form>
    {% endif %}

    <script>
    function filterWords() {
        var input, filter, posFilter, coursFilter, lectureFilter, titreFilter, dropdown, options, i;
        input = document.getElementById('wordSearch');
        filter = input.value.toLowerCase();
        posFilter = document.getElementById('posFilter').value.toLowerCase();
        coursFilter = document.getElementById('coursFilter').value.toLowerCase();
        lectureFilter = document.getElementById('lectureFilter').value.toLowerCase();
        titreFilter = document.getElementById('titreFilter').value.toLowerCase();
        dropdown = document.getElementById('wordDropdown');
        options = dropdown.getElementsByTagName('option');

        for (i = 0; i < options.length; i++) {
            var option = options[i];
            var text = option.value.toLowerCase();
            var pos = option.getAttribute('data-pos').toLowerCase();
            var cours = option.getAttribute('data-cours').toLowerCase();
            var lecture = option.getAttribute('data-lecture').toLowerCase();
            var titre = option.getAttribute('data-titre').toLowerCase();

            if (text.startsWith(filter) && (posFilter === "" || pos.indexOf(posFilter) > -1) && (coursFilter === "" || cours.indexOf(coursFilter) > -1) && (lectureFilter === "" || lecture.indexOf(lectureFilter) > -1) && (titreFilter === "" || titre.indexOf(titreFilter) > -1)) {
                option.style.display = "";
            } else {
                option.style.display = "none";
            }
        }
    }
    </script>
{% endblock %}

